
* {
  box-sizing: border-box;
}

.body_title{
  text-align: center;
  margin-top: 50px;

}

.body_title a{
  font-family: 'Berkshire Swash', cursive;
  font-size: 100px;
}

.body_subtitle{
  text-align: center;
}   

.body_subtitle a{
  font-family: 'Truculenta', sans-serif;
  font-size: 30px;

}   

.body_blog_section{
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

.article_spacing{
  margin-top: 60px;
  margin-bottom: 60px;
}