  
* {
  box-sizing: border-box;
}

.body{
  font-family: 'Barlow Condensed', sans-serif;
}

.body_title{
  text-align: center;
}

.body_title a{
  font-family: 'Berkshire Swash', cursive;
  font-size: 100px;
}

.body_subtitle{
  text-align: center;
}   

.body_subtitle a{
  font-family: 'Truculenta', sans-serif;
  font-size: 30px;

}   