* {
    box-sizing: border-box;
  }

.header_title{
    font-family: 'Berkshire Swash', cursive;
}

.header_subtitle{
    font-family: 'Truculenta', sans-serif;
}   

.body{
    font-family: 'Barlow Condensed', sans-serif;
}